/* global */
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        /* border: 1px dotted red; */
    }

    body {
        height: 100vh;
    }

    .container {
        width: 600px;
        margin: 0px auto;
        padding: 0px 15px;
    }
/* global */

/* nav-bar */
    nav {
        background-color: white;
        box-shadow: 0px -9px 20px 5px #4e4e4e;
    }
    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
    }
    nav .container div {
        display: inline-block;
    }
    nav .container .head h1 {
        color: #03a9f4; 
    }

    nav .container .buttons button {
        padding: 8px 21px;
        margin-left: 8px;
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: lighter;
        cursor: pointer;
    } 
    nav .container .buttons button:active {
        border: none;
    }
    nav .container .buttons .active {
        color: #03a9f4;
    }
/* nav-bar */

/* content */
.content {
    height: calc(100% - 70px);
    
}

.content .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .container p {
    display: block;
    background-color: #222;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}
.content .container button {
    display: block;
    padding: 8px 21px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
/* content */